body {
    background-color: #e4cd4a;
}

div {
    max-width: 550px;
}
 
h1,
h2 {
    color: #381b00;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 48px
}

h2 {
    font-size: 32px;
}

h3 {
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p,
li {
    font-family: sans-serif;
}

.image-recipe {
    max-width: 550px;
    width: 100%;
    height: auto;
}
